/*Configuração de estilo*/
:root{
    --vermelho:#e50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elemento Base*/
/* */

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color:white;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color:var(--vermelho);
    font-family: 'Arial Black', times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/*Filme principal*/
.filme-principal{
    font-size: 16px;
    /* background-image: url('//Aula-Netflix/img/Coletivo-Terror.webp'); */
    background:linear-gradient(rgba(0,0,0,.50)url("/img/coletivo.terror.jpg"));
    height:400px;
    background-size:cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
